html,
body{
  height: 100%;
}

img,
video,
embed,
iframe{
  max-width: 100%;
  height: auto;
}

body {
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
}

h1 {
  font-family: inherit;
  font-weight: bold;
  font-style: inherit;
  font-size: 60px;
  line-height: 81px;
  margin-top: 27px;
  margin-bottom: 0px;
}

h2 {
  font-family: inherit;
  font-weight: bold;
  font-style: inherit;
  font-size: 40px;
  line-height: 54px;
  margin-top: 27px;
  margin-bottom: 27px;
}

h3 {
  font-family: inherit;
  font-weight: bold;
  font-style: inherit;
  font-size: 27px;
  line-height: 27px;
  margin-top: 27px;
  margin-bottom: 0px;
}


.grid-list{
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  text-align: justify;
}

.grid-list:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.grid-list__item, .grid-list__placeholder{
  display:inline-block;
  width: 22%;
  text-align: left;
}

.grid-list__item{
  margin-bottom: 20px;
}

.l-home .site-masthead{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}

.site-masthead__toggle{
  position: relative;
  z-index: 20;
  /*background: #fff;*/
  padding: 5px;
}

.site-masthead__menu{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #000;
  transition: all .3s ease-out;
  opacity: 0;
}

.show-nav .site-masthead__menu{
  opacity: 1;
  z-index: 10;
}

.site-masthead__primary{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.site-content{
  position: relative;
  z-index: 1;
}

.l-home .site-content{
  position: relative;
  z-index: 1;
  height:100%;
  background: url('../images/Final-19.jpg') center center no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Basic background image styling. */
/*.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}*/

/* Styles for the alternating / transition effect. */
/*.toggle-image {
 	position: absolute;
  z-index: 2;
	width: 100%;
	top: 0;
	left: 0;
 	height: 100%;
	transition: opacity 1s ease-in-out;
}*/

/* Styles for the specific images. */
/*.first-image {
	background-image: url('http://s169923.gridserver.com/images/dtlarooftop.jpg');
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url('http://s169923.gridserver.com/images/winterbarrel.jpg');
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url('http://s169923.gridserver.com/images/catalinaharbor.jpg');
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}*/


.l-home .site-content:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.img {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 100%;
    /*height:100%;*/
    position: center;
    overflow: hidden;
}
.img:hover {
    border: 1px solid #pink;
}

.img img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}
