body {
	background: #00EE9A;
	}

h1{
	font-size: 100px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: 500;
	letter-spacing: 5px;
	line-height: 33px;
	color: white;
	padding:50px 5px 50px 5px;
	}

h2{
	font-size: 15px;
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 5px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffff00;
	}

h3{
	font-size: 13px;
	font-family: Georgia, serif;
	text-align: left;
	font-weight: normal;
	color: white;
	padding: 0px 20px 0px 20px;
	letter-spacing: 5px;
	}

h4{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: 100%;
	color: white;
	text-transform: uppercase;
	padding: 0px 0px 0px 20px;
	}

p{
	font-size: 12px;
	font-family: Georgia, serif;
	text-align: left;
	font-weight: normal;
	color: white;
	padding: 0px 0px 0px 50px;
	}

img{
	padding: 0px 0px 0px 20px;
	}