body {
	background: #00EE9A;
	margin: 0;
	}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

.clear{
	overflow: hidden;
}

img,
video,
iframe {
	max-width:100%;
	height: auto;
}

/*
	Masthead layout shows up at the top of the page
*/

.masthead {
	background: #e3e3e3;
}

.nav {
	padding: 0;
	list-style: none;
}

.nav li {
	display: block;
}

.nav a {
	display: block;
	position: relative;
	padding: 1em;
	color: white;
	text-align: center;
	text-decoration: none;
	background: #9ad3de;
	transition: all 1s ease-out;
}

.nav a:hover {
	color: #00ee99;
	background: white;
	transition-duration: .3s;
}

.nav a:after {
	content:' ';
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	height: 3px;
	background: #89bdd3;
	transition: all .3s ease-in;
}

.nav a:hover:after {
	width: 100%;
}

.nav.center {
	text-align: center;
}

@media (min-width: 500px) {
	.nav.fit {
		display: table;
		width: 100%;
	}
	.nav.fit li {
		display: table-cell;
	}
	.nav.fit a {
		display: block;
	}
}

.main-content{
	background: ;
}

.sub-content{
	background: pink;
}

.third-content{
	background: tan;
}

@media (min-width: 500px){
	.main-content {
		float: left;
		width: 50%;
		margin-left: 20%;
	}

	.sub-content{
		float: left;
		width: 25%;
		margin-left: -70%;
	}
	.third-content{
		float: left;
		width:25%;
	}
}

.bar {
}

#primary-nav {
}

h1{
	font-size: 100px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: 500;
	letter-spacing: 5px;
	line-height: 33px;
	color: white;
	padding:50px 5px 50px 5px;
	}

h2{
	font-size: 15px;
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	font-style: none;
	font-weight: normal;
	letter-spacing: 5px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffff00;
	}

h3{
	font-size: 13px;
	font-family: Georgia, serif;
	text-align: left;
	font-weight: normal;
	color: white;
	padding: 0px 20px 0px 20px;
	letter-spacing: 5px;
	}

h4{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: 100%;
	color: white;
	text-transform: uppercase;
	padding: 0px 0px 0px 20px;
	}

p{
	font-size: 12px;
	font-family: Georgia, serif;
	text-align: left;
	font-weight: normal;
	color: white;
	padding: 0px 0px 0px 50px;
	}

img{
	padding: 0px 0px 0px 20px;
	}
